<style>
    body {
        font-size: 22pt;
        text-align: center;
    }

    select,
    input {
        font-size: 16pt;
    }

    ul {
        list-style: none;
    }
</style>
<h1>Lobbies</h1>
{{#lobbies}}
<div>
    <h2>{{game.display_name}}</h2>
    <form method='post'>
        {{#game.parameters}}
            <label>{{display_name}}: </label><input type='text' name='{{name}}'
            value='{{#param}}{{name}}{{/param}}'><br/>
        {{/game.parameters}}
        <input type='hidden' name='game_id' value='{{game.display_name}}'>
        {{#button}}{{is_running}}{{/button}}
        <input type='submit' name='Delete' value='Delete'>
    </form>
</div>
{{/lobbies}}
{{^lobbies}}
<div>There are no lobbies yet. Create one below.</div>
{{/lobbies}}

<hr>

<form method="post" onsubmit="return check_game()">
    <label>Games:</label>
    <select name='game' id='game'>
        <option value='none'>Select a Game</option>
        {{#games}}
        <option value='{{display_name}}'>{{display_name}}</option>
        {{/games}}
    </select>
    {{^games}}
    <p>Sorry, there are no games.</p>
    {{/games}}
    <input type='submit' value='Create Lobby' />
</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>
    function check_game() {
        if ($('#game').val() == 'none') {
            alert("Please choose a game from the drop-down.");
            return false;
        }
        return true;
    }
</script>
