<html>
<head>
    <style>
        body {
            font-size: 22pt;
            text-align: center;
        }

        input {
            font-size: 16pt;
        }

        #status {
           color: gray;
        }

        #auth {
           display: none;
        }
    </style>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="/jquery.serialize.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('http://codepurple.goshen.edu:9000/game');

        socket.on('status', function (data) {
            $('#status').html("<p>" + data + "</p>");
            console.log(data);
        });

        socket.on('choice', function (data) {
            $('#msg').html("<p>" + data.msg + "</p>");

            var html = "";
            for (var i=0; i<data.choices.length; i++) {
                html += "<input type='submit' class='choice' value='" +
                data.choices[i] + "' name='" + data.choices[i] + "' >";
            }

            $('#choices').html(html);

            $('.choice').click(choice_selected);
        })

        socket.on('round_ended', function () {
            $('#msg').html('');
            $('#choices').html('');
            $('#choice').html('');
            $('#form').html('');
        })

        function choice_selected() {
            $('#choice').html("<p>" + $(this).val() + "</p>");
            socket.emit('choice', $(this).val());
        }

        function send_authentication() {
            socket.emit('authenticate', {username: $('#username').val()},
                function (valid, cookie) {
                    if (valid == true) {
                        $('#auth').hide();
                        localStorage['game-key'] = cookie;
                    } else {
                        alert('Incorrect username or password. Please try again.');
                    }
                });

            return false;
        }

        socket.on('game_form', function (form) {
            $('#form').html(form);
            $('#form form').submit(function () {
                socket.emit('game_form', $(this).serializeObject(), function (res) {
                    if (res) {
                        eval(res);
                    }
                });

                return false;
            });
        });

        $(document).ready(function () {
            $('#auth_form').submit(send_authentication);

            var cookie = localStorage['game-key'] || '';
            socket.emit('check_cookie', cookie, function (valid) {
                    if (valid == false) {
                        $('#auth').show();
                    }
            });
        });
    </script>
</head>

<body>
 
<h1>Welcome!</h1>

<div id='status'></div>
<div id='msg'></div>
<div id='choices'></div>
<div id='choice'></div>

<div id='form'></div>

<div id='auth'>
    <form id='auth_form' method='post'>
        <label>Username:</label><input id='username' type='text' name='username' />
        <br>
        <input type='submit' value='Login' />
    </form>
</div>

</body>
</html>
